@model WebAppIMaster.Models.NewManagerModels.SelectEditPhotoOrganization
@{
    ViewBag.Title = "SelectOnePhoto";
}

<h2>Редактирование Фотографию</h2>

<div class="card strpied-tabled-with-hover">
    <div class="card-header ">
        <p class="card-category">Редактировать</p>
    </div>
    <div class="card-body table-full-width table-responsive">
        <div class="form-horizontal">
            @using(Html.BeginForm("SelectOnePhoto", "Organization", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
            @Html.HiddenFor(m => m.Id)
            @Html.HiddenFor(m => m.OrganizationId)
            <p></p>
            <img src="@Url.Content(Model.PhotoUrl)" style="height:180px;" />
            <div class="form-group">
                <br />
                <input type="file" name="photo" />
            </div>
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Сохранить" class="btn btn-info btn-fill pull-left" />
                </div>
            </div>
            }

        </div>
    </div>
</div>