
@{
    ViewBag.Title = "APITest";
}

<h2>APITest</h2>

<div class="container">
    <div class="row p-1">
        <div class="registerForm form-group col-sm-6" style="display: block;">
            <label class="my-4">Введиту Username</label>
            <input class="form-control" type="text" name="username" id="username" value="" />
            <label class="my-4">Введиту Email</label>
            <input class="form-control" type="email" name="email" id="email" value="" />
            <label class="my-4">Введите пароль</label>
            <input class="form-control" type="password" name="password" id="password" value="" />
            <label class="my-4">Подтвердите пароль</label>
            <input class="form-control" type="password" name="confirmPassword" id="confirmPassword" value="" />

            <label class="my-4">Введиту имя</label>
            <input class="form-control" type="text" name="name" id="name" value="" />
            <label class="my-4">Введиту фамилию</label>
            <input class="form-control" type="text" name="surname" id="surname" value="" />
            <label class="my-4">Введиту отчество</label>
            <input class="form-control" type="text" name="fatherName" id="fatherName" value="" />
            <label class="my-4">Введиту ИИН</label>
            <input class="form-control" type="text" name="iin" id="iin" value="" />

            <label class="my-4">Введиту стаж</label>
            <input class="form-control" type="number" name="ageExp" id="ageExp" value="" />
            <label class="my-4">Введиту тип машины</label>
            <input class="form-control" type="number" name="typeVech" id="typeVech" value="" />
            <input class="btn btn-outline-primary my-4" type="submit" name="submit" id="submit" value="Регистрация" />
        </div>

        <div class="loginForm form-group col-sm-6">
            <h3>Вход на сайт</h3>
            <label>Введите Email</label>
            <br />
            <input class="form-control" type="email" value="" id="emailLogin" />
            <br /> <br />
            <label>Введите пароль</label>
            <br />
            <input class="form-control" type="password" value="" id="passwordLogin" />
            <br /><br />
            <input class="btn btn-outline-primary" type="submit" id="submitLogin" value="Логин" />
        </div>
        <div class="userInfo" style="display: none;">
            <p>
                Вы вошли как
                <span class="userName"></span>
            </p>
            <input type="button" value="Выйти" id="logOut" />
        </div>
    </div>
</div>
@section scripts {
    <script type="text/javascript">
        $(function () {
            $("#submit").click(function (e) {
                e.preventDefault();
                var data = {
                    Username: $("#username").val(),
                    Email: $("#email").val(),
                    Password: $("#password").val(),
                    ConfirmPassword: $('#confirmPassword').val(),
                    name: $("#name").val(),
                    surName: $("#surname").val(),
                    fatherName: $("#fatherName").val(),
                    iin: $("#iin").val(),
                    ageAndExperience: $("#ageExp").val(),
                    typesVehicle: $("#typeVech").val(),
                };

                console.log(data);

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify(data)
                }).success(function (data) {
                    alert("Регистрация пройдена");
                }).fail(function (data) {
                    alert("В процессе регистраци произошла ошибка");
                });
            });

            var tokenKey = "tokenInfo";
            $("#submitLogin").click(function (e) {
                e.preventDefault();
                var loginData = {
                    grant_type: 'password',
                    username: $('#emailLogin').val(),
                    password: $('#passwordLogin').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/Token',
                    data: loginData,
                    success: function (data) {
                        $('.userName').text(data.username);
                        $('.userInfo').css('display', 'block');
                        $('.loginForm').css('display', 'none');

                        sessionStorage.setItem(tokenKey, data.access_token);
                        console.log("access token: " + data.access_token);
                        console.log("user name: " + data.username);
                    },
                    error: function (data) {
                        alert("Ошибка при логине");
                    }
                });
            });
        });
    </script>
}
